﻿{%load static%}
<!DOCTYPE html>
<html>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
  <link href="navbar.html" rel="import">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #80475E">
{%block content%}{%include 'navbar.html'%}{%endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Silakan isi data diri Anda</h1>
<form method = "POST" action ="register" style="margin-left: 30px;margin-top: 75px;color: black">
	{% csrf_token %}
	{{form}}
	<input type = "submit" value = "Daftar" style="color:#80475E ">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{%include 'footer.html'%}
</body>
</html>