{%load static%}

<!-- Home page (home.html), footer ,and header by Jeremy -->

{% block content %}
<body>
<nav class="navbar navbar-default navbar-fixed-top sticky-top"">
  <div class="container-fluid">
    <div class="navbar-header"><img src="{% static 'sinarperaklogo.png' %}" alt="SinarPerak">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'homepage:index' %}">Home</a></li>
      <li><a href="#aboutus">About us</a></li>
      <li><a href="{% url 'bramanta:browseCampaign' %}">Browse Campaign</a></li>
      <li><a href="{% url 'hamri:createCampaign' %}">Create Campaign!</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'signin:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if 
  });
})
</script>
{% endblock %}