{%load static%}
<!-- Home page (home.html), footer ,and header by Jeremy -->
<!DOCTYPE html>
<html>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  WEBSITE CUY
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
  <link href="navbar.html" rel="import">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%block content%}{%include 'navbar.html'%}{%endblock%}

<h1 style="padding-top: 5%; font-size: 25px ;text-align: center; color:#80475E"><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>Thank you for signing up! We hope you can help others who needs!<br>
	<br>
	<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br></h1>
{%include 'footer.html'%}
</body>
</html>