{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SinarPerak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
    <link href="navbar.html" rel="import">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%block content%}{%include 'navbar.html'%}{%endblock%}  
<div class="container"> 
    <img src="https://natgeo.imgix.net/subjects/headers/ND%20header%20(1).jpg?auto=compress,format&w=1920&h=960&fit=crop/200x100" class="img-thumbnail" alt="Responsive image">
    <br>
    <br>
    <div class="row">
        <div class="col-md" style="background-color:#80475E; color:white">
            <p>DESCRIPTION :</p>
        </div>
        <p>apa kek</p>
    </div>
    <div class="row">
        <div class="col-md" style="background-color:#80475E; color:white">
            <p>DONATION GOALS :</p>
        </div>
        <div class="col-md">
            <p>lalala</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" style="background-color:#80475E; color:white">
            <p>END DATE :</p>
        </div>
        <div class="col-md">
            <p>lalala</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md" style="background-color:#80475E; color:white">
            <p>CONTACTS :</p>
        </div>
        <div class="col-md">
            <p>lalala</p>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-lg" style="background-color:#80475E;display: block;margin-left: auto;margin-right: auto;">DONATE</button>      
    <br>
</div>
{%include 'footer.html'%}
</body>
</html>
