{%load static%}
<!DOCTYPE html>
<!-- Homepage (hello.html), footer ,and header by Jeremy -->
<html>
<body>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
  <link href="navbar.html" rel="import">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #80475E;color: white">
{%block content%}{%include 'navbar.html'%}{%endblock%}
<section style="margin-left: 30px;margin-top: 75px">
<form action="{% url 'hamri:savecampaign' %}" method="POST">
  {% csrf_token %}
  Project_name:<br>
  <input type="text" name="Project_name" value="Project_name" style="color:#80475E ">
  <br><br>
  Goal:<br>
  <input type="text" name="Goal" value="Goal" style="color:#80475E ">
  <br><br>
  Donation end date:<br>
  <input type="date" name="Donation_end_date" value="Donation_end_date" style="color:#80475E ">
  <br><br>
  Description:<br>
  <textarea name="message" rows="10" cols="30" style="color:#80475E ">Help each other by donating or join the campaign!</textarea>
  <br><br>
  <input type="file" name="image" accept="image/*">
  <br>
  <input type="submit" value="Submit" style="color:#80475E ">
</form>
</section>
<br>
<br>
<br>


{%include 'footer.html'%}
</body>
</html>