{%load static%}
<!-- Home page (hello.html), footer ,and header by Jeremy -->
<!DOCTYPE html>
<html>
<head>
<!DOCTYPE html>
<html lang="en">
<head>
<title>
  SinarPerak
</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tp1css.css' %}" type="text/css">
  <link href="navbar.html" rel="import">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{%block content%}{%include 'navbar.html'%}{%endblock%}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'helpinghand.jpg' %}" alt="banjir" style="opacity: 0.7;width:100%">
    </div>

    <div class="item">
      <img src="{% static 'tanam.jpg' %}" alt="gempa" style="opacity: 0.7;width:100%">
    </div>

    <div class="item">
      <img src="{% static 'starve.jpg' %}" alt="Hiu" style="opacity: 0.7;width:100%">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a> 
</div>








    <h1 style="margin-left:5%;font-size:50px;color: #80475E">Top Campaigns</h1>
    <hr>
    <div class="row text-center">
  <div class="col-sm-4">
    <div>
      <img src="{% static 'hiu.jpg' %}" alt="Anak Hilang">
      <p style="font-size: 25px"><strong>Anak Hilang</strong></p>
      <p>Pak Liam yang bekerja sebagai tukang ojek online mitra sebuah<br> perusahaan besar ojek online di Indonesia kehilangan anaknya.</p>
      <button class="btn">Donate!</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div>
      <img src="{% static 'aduh.jpg' %}" alt="gempa">
      <p style="font-size: 25px"><strong>Gempa Dahsyat 10.2 SR</strong></p>
      <p>Gempa dahsyat yang terjadi di Depok Selatan berhasil meluluh <br> lantahkan bangunan-bangunan serta badan jalan .</p>
      <button class="btn">Donate!</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div>
      <img src="{% static 'ab.jpg' %}" alt="banjir">
      <p style="font-size: 25px"><strong>Banjir Bandung</strong></p>
      <p>Setelah diguyur hujan 7 hari 7 malam,Kota Bandung yang dikenal <br> dengan wisata kulinernya akhirnya terkena dampak banjir juga.</p>
      <button class="btn">Donate!</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
    {%include 'footer.html'%}
</body>
</html>